// Padding
.padding-0 {
  padding: 0;
}

.padding-0-75-vh {
  padding: 0.75vh;
}

// Margin Top to input
.margin-top-2rem {
  margin-top: 2rem;
}

.margin-top-1-5rem {
  margin-top: 1.5rem;
}

.margin-bottom-1-5rem {
  margin-bottom: 1.5rem;
}