// Align Divs
@mixin div-justify-align-direction($justfy-content: center, $align-items: center, $flex-direction: column) {
  display: flex;
  justify-content: $justfy-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
}