// Element Sizes
@mixin width-and-height($width, $height) {
  width: $width;
  height: $height;
}

@mixin max-width-and-max-height($max-width, $max-height) {
  max-width: $max-width;
  max-height: $max-height;
}

@mixin min-width-and-min-height($min-width, $min-height) {
  min-width: $min-width;
  min-height: $min-height;
}