// Align Divs
@mixin div-justify-align-direction($justfy-content: center, $align-items: center, $flex-direction: column) {
  display: flex;
  justify-content: $justfy-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
}

// Animate
@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}

// Key frames
@mixin keyframe-basic-transition($name) {
  @keyframes #{$name} {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      opacity: 1;
    }
  }
}

@mixin keyframe-custom($name) {
  @keyframes #{$name} {
    @content;
  }
}

// Element Sizes
@mixin width-and-height($width, $height) {
  width: $width;
  height: $height;
}