::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-elevated);
  border-radius: 0.5rem;

  &:hover {
    background-color: var(--primary);
  }
}

::-webkit-scrollbar-track {
  background-color: var(--bg-surface);
  border-radius: 0.5rem;
}