:host::ng-deep {
  .p-dropdown {
    width: auto;
    background-color: var(--dropdown-background);
    border-color: var(--dropdown-border);

    .p-placeholder {
      color: var(--dropdown-color);
    }

    &:not(.p-disabled){
      &.p-focus {
        box-shadow: none !important;
        border-color: var(--dropdown-border);
      }

      &:hover {
        border-color: var(--dropdown-border);
      }
    }

    .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
      color: var(--dropdown-color);
      background: var(--dropdown-background);
    }
  }
}